/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}
/***** RESET *****/





body{background:url(images/background.jpg)no-repeat; background-size:cover;}
.container{width:800px; height:600px; position:relative; top: 16px; left: 16px; background:#fff;}
#slider{width:225px; height:100px; float:left; padding:500px 0 0 175px;}
#form{padding:50px 0 0 50px; width:350px; height:550px; float:left; background:#fff;}
.yazi{font:bold 30px tahoma; color:#45d30d;}
#user{width:300px; height:250px; margin:20px 0 0 0;}
table{width:300px; height:250px;}
input{width:300px; height:30px; color:#fff;}
button{width:300px; height:30px; background:rgb(69, 211, 13); color:#fff; border:none;}
#input1{height:15px; width:15px;}
.yazi1{color:#888;}
.yazi2{color:rgb(69, 211, 13); cursor:pointer;}
.yazi2:hover{text-decoration:underline;}
input:hover{background:rgb(114, 238, 89);}
input:focus{background:rgb(69, 211, 13);}
.or{opacity:0.5;}
.with{width:300px; height:150px; margin:20px 0 0 0;}
.br{width:295px; height:40px; margin:0 0 5px 0; border:1px solid rgb(69, 211, 13); padding:5px 0 0 5px; font:bold 15px tahoma; color:rgb(112, 196, 56);}
.alt{text-align:center; cursor:pointer;}
.br:hover{background:rgb(252, 249, 86); cursor:pointer;}
.altx{text-align:center;}
#alt{width:45px; height:10px;}
#sayi1,#sayi2,#sayi3{ float:left; text-indent:2000px; border-radius:10px; display:block; background:#f8f8f8; width:10px; height:10px; margin:0 5px 0 0;}
footer{margin:35px 0 0 0;}
